h1 {
    text-align: center;
}
h2 {
    color: white;
}
div {
    text-align: center;
    display:inline-block; 
    height:auto; 
    width: 33%; 
 }
 .div-chicken {
    background-color: rgb(238, 84, 84); 
 }
 .div-beef {
    background-color: rgb(43, 95, 236); 
 }
 .div-sushi {
    background-color: rgb(105, 21, 126); s
 }
p {
    color: white;
    padding: 5%;
}
 body { 
    margin: 0px; padding:0px; 
}
img {
    width:70%;
    height:300px;
    padding: 10%;
}

 
 
